<%= semantic_form_for @topic, :html => {multipart: true} do |f| %>
    <%= f.inputs do %>
        <p>
          <%= f.label :title, "Topic" %>
          <%= f.text_field :title %>
        </p>
    <% end %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
<% end %>
