<h4><%= @user.full_name %></h4>
<%= form_for(current_user, :as => User, :url => password_path(User), :html => {:method => :put}) do |f| %>
    <table class="table table-striped">
      <tbody>
      <tr>
        <td>
          <h4>Change password</h4>
        </td>
        <td>
          <%= f.hidden_field :reset_password_token %>

          <%= f.label :current_password %>
          <%= f.password_field :current_password %>

          <%= f.label :password, "New password" %>
          <%= f.password_field :password %>

          <%= f.label :password_confirmation, "Confirm new password" %>
          <%= f.password_field :password_confirmation %>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="control-group text-center">
      <%= f.submit "Change my password", :class => 'btn btn-primary' %>
    </div>
<% end %>

