<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel"><%= @user.try(:user_name) %>'s Profile</h3>
</div>
<div class="modal-body">
  <h5>Basic Details</h5>
  <dl class="dl-horizontal">
    <dt>User name</dt>
    <dd><%= @user.try(:user_name) %></dd>
    <dt>Name</dt>
    <dd><%= @profile.try(:full_name) %></dd>
    <dt>Email</dt>
    <dd><%= @user.try(:email) %></dd>
    <dt>Company</dt>
    <dd><%= @company.try(:title) %></dd>
    <dt>Job Title</dt>
    <dd><%= @profile.try(:job_title) %></dd>
    <dt>Phone</dt>
    <dd><%= @profile.try(:phone) %></dd>
    <dt>Mobile</dt>
    <dd><%= @profile.try(:mobile) %></dd>
  </dl>

  <h5>Work Address</h5>
  <dl class="dl-horizontal">
    <dt>Address</dt>
    <dd><%= @address.try(:line1) %> <%= @address.try(:line2) %></dd>
    <dt>City</dt>
    <dd><%= @address.try(:city) %></dd>
    <dt>Postal/Zip Code</dt>
    <dd><%= @address.try(:zip) %></dd>
    <dt>Country</dt>
    <dd><%= @address.try(:country) %></dd>
    <dt>State</dt>
    <dd><%= @address.try(:state) %></dd>
  </dl>

</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>


